<%= content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#blog_comment_content').focus();
    })
  </script>
<% end %>  

<div id='form_blocks'>
  <%= form.text_field :name %>
  <%= form.text_field :email %>
  <%= form.text_area :content %>
</div>


<% if defined?(ComfortableMexicanSofa) %>
  <%= form.simple_field nil, nil, :class => 'submit_element' do %>
    <%= form.check_box :is_approved, :disable_builder => true %>
    <%= form.label_for :is_approved, :label => 'Approved' %>
    <%= form.submit @comment.new_record? ? 'Create comment' : 'Update comment', :disable_builder => true %>
  <% end %>
<% else %>
  <%= form.check_box :is_approved %>
  <%= form.submit (@post.new_record? ? 'Create comment' : 'Update comment') %>
<% end %>

  