%h1= @post.title
.author
  = @post.author
.date
  = @post.published_at.to_s(:db)
.content
  = @post.content.html_safe
  
- if ComfyBlog.disqus_enabled?
  = render :partial => 'blog/comments/disqus'

- else
  #blog-comments
    - @post.comments.each do |comment|
      = render :partial => 'blog/comments/comment', :object => comment
  = render :partial => 'blog/comments/form'