= form.text_field :label, :data => {:slugify => @blog.new_record?}
= form.text_field :identifier, :data => {:slug => true}
= form.text_field :path

- if (options = Comfy::Cms::Layout.app_layouts_for_select).present?
  = form.select :app_layout, options

= form.text_area :description, :class => 'short'

= form.form_group :class => 'form-actions' do
  = form.submit :class => 'btn btn-primary'