.page-header
  = link_to t('.new_blog'), new_comfy_admin_blog_path(@site), :class => 'btn btn-default pull-right'
  %h2= t('.page_title')

= comfy_paginate @blogs

%table.table.table-hover.table-bordered
  - @blogs.each do |blog|
    %tr
      %td.main
        = link_to blog.label, edit_comfy_admin_blog_path(@site, blog)
        .item-meta
          = blog.identifier
          %br
          - blog_path = comfy_blog_posts_url(@site.path, blog.path)
          = link_to blog_path, blog_path, :target => '_blank'
      %td
        .btn-group.btn-group-sm
          = link_to pluralize(blog.posts.count, t('.post')), comfy_admin_blog_posts_path(@site, blog), :class => 'btn btn-info'
          = link_to pluralize(blog.comments.count, t('.comment')), comfy_admin_blog_comments_path(@site, blog), :class => 'btn btn-info'
      %td
        .btn-group.btn-group-sm
          = link_to t('.edit'), edit_comfy_admin_blog_path(@site, blog), :class => 'btn btn-default'
          = link_to t('.delete'), comfy_admin_blog_path(@site, blog), :method => :delete, :data => {:confirm => t('.confirm_message')}, :class => 'btn btn-danger'

= comfy_paginate @blogs
