<%= form.text_field :title, :id => (@post.new_record?? 'slugify' : nil) %>
<%= form.text_field :slug, :id => 'slug' %>
<%= form.text_field :author %>
<% if Blog::Tag.categories.present? %>
  <%= form.simple_field 'Categories' do %>
    <% Blog::Tag.categories.each do |category| %>
      <%= hidden_field_tag "post[category_ids][#{category.id}]", 0, :id => nil %>
      <label>
        <%= check_box_tag "post[category_ids][#{category.id}]", 1, @post.category_ids[category.id.to_s].to_i == 1, :id => nil %>
        <%= category.name %>
      </label>
    <% end %>
  <% end %>
<% end %>
<%= form.text_field :tag_names, :label => link_to('Tags', admin_blog_tags_path) %>
<%= form.text_area :excerpt, :data => { :rich_text => true }, :class => 'short' %>
<%= form.text_area :content, :data => { :rich_text => true } %>
<%= form.text_field :published_at, :class => 'datetime' %>

<% if defined?(ComfortableMexicanSofa) %>
  <% content_for :right_column do %>
    <%= render :partial => 'cms_admin/files/index' %>
  <% end %>
  
  <%= cms_hook :blog_post, :locals => { :form => form } %>
  
  <%= form.simple_field nil, nil, :class => 'submit_element' do %>
    <%= form.check_box :is_published, :disable_builder => true %>
    <%= form.label :is_published %>
    <%= form.submit @post.new_record?? 'Create post' : 'Update post', :disable_builder => true %>
  <% end %>
  
<% else %>
  <%= form.check_box :is_published %>
  <%= form.submit @post.new_record?? 'Create post' : 'Update post' %>
<% end %>

