.page-header
  = link_to 'New Blog Post', new_blog_admin_post_path(@site), :class => 'btn pull-right'
  %h2 Blog Posts
  
= paginate @posts
  
%table.table.table-hover.table-bordered
  %tr
    %th.main Title
    %th Author
    %th Published
    %th
    
  - @posts.each do |post|
    %tr
      %td.main
        = link_to post.title, edit_blog_admin_post_path(@site, post)
        .item-meta
          = post.excerpt
      %td
        = post.author
      %td
        = post.published_at.to_s(:short)
      %td
        .btn-group
          = link_to 'Edit', edit_blog_admin_post_path(@site, post), :class => 'btn btn-small'
          = link_to 'Delete', blog_admin_post_path(@site, post), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-small btn-danger'
          
= paginate @posts