<%= link_to t('comfy_blog.add_new_post'), new_admin_blog_post_path, :class => 'big button' %>

<h1><%= t('comfy_blog.blog_posts') %></h1>

<ul class='list posts'>
  <% @posts.each do |post| %>
    <%= render :partial => 'post', :object => post %>
  <% end %>
</ul>

<% if defined?(WillPaginate) %>
  <%= will_paginate @posts %>
<% elsif defined?(Kaminari)%>
  <%= paginate @posts %>
<% end %>