%h1 Blog Post

%h1= @post.title

.author
  = @post.author
.date
  = @post.published_at.to_s(:db)
.content
  = @post.content.html_safe

- if ComfyBlog.config.allow_comments
  .comments
    = render :partial => 'comfy/blog/comments/index'
    = render :partial => 'comfy/blog/comments/form'