%tr{:id => dom_id(comment)}
  %td
    = link_to comment.post.title.truncate(25), admin_blog_comments_path(@site, @blog, :post_id => comment.post)
  %td.main
    = comment.author
    .item-meta
      = mail_to comment.email
      %br
      = comment.content
  %td
    = comment.created_at.to_s(:db)
  %td
    - label, css_class = comment.is_published?? ['Unpublish', 'btn-danger'] : ['Publish', 'btn-info']
    = link_to label, toggle_publish_admin_blog_comment_path(@site, @blog, comment), :method => :patch, :remote => true, :class => "btn btn-small #{css_class}"
  %td
    .btn-group
      = link_to 'Delete', admin_blog_comment_path(@site, @blog, comment), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-small btn-danger'