<li id='<%= dom_id(comment) %>'>
  <div class='item'>
    <div class='icon' style="background-image:url(http://www.gravatar.com/avatar/<%=Digest::MD5.hexdigest(comment.email.downcase)%>?s=28&d=identicon)"></div>
    <div class='action_links'>
      <% unless comment.is_published? %>
        <%= link_to 'Publish', publish_admin_blog_comment_path(comment), :remote => true, :method => :put %>
      <% end %>
      <%= link_to 'Delete', admin_blog_comment_path(comment), :method => 'delete', :remote => true, :confirm => 'Are you sure?' %>
    </div>
    <div class='label'>
      <div class='sublabel'>
        <em>
          <%= time_ago_in_words(comment.created_at) %> ago 
          <strong><%= mail_to(comment.email, comment.author) %></strong> wrote
        </em>
      </div>
    </div>
    <div class='content'>
      <%= simple_format(auto_link(comment.content)) %>
    </div>
  </div>
</li>