= comfy_admin_partial "comfy/admin/blog/partials/post_form_before", form: form

= form.text_field :title, data: {slugify: @post.new_record?}
= form.text_field :slug, data: {slug: true}
- file_prompt = " - #{'DE' if @post.file.present?}SELECT FILE - "
= form.select :file_id, options_for_select(@site.files.order(:label).map{|f| [f.label, f.id] }, @post.file&.id), :include_blank => file_prompt
- if @post.file.present?
  - if @post.file.attachment.attached?
    - attachment = @post.file.attachment
    = form.form_group bootstrap: {label: {text: 'File Preview'}} do
      .file-attachment
        = link_to url_for(attachment) do
          - if attachment.variable?
            = image_tag attachment.variant(resize: "320x240").processed
          - else
            = attachment.filename.to_s
- if (options = ::Comfy::Cms::Layout.options_for_select(@site)).present?
  = form.select :layout_id, options, {}, {data: {url: form_fragments_comfy_admin_blog_post_path(@site, @post.id.to_i)}, id: "fragments-toggle"}

#form-fragments-container
  = render "comfy/admin/cms/fragments/form_fragments", record: @post, scope: :post

= render "comfy/admin/cms/categories/form", form: form

= form.text_field :published_at, value: @post.published_at.try(:to_s, :db), data: {'cms-datetime' => true}

= form.check_box :is_published

= comfy_admin_partial "comfy/admin/blog/partials/post_form_after", form: form

= form.form_actions do
  = submit_tag t(@post.new_record?? ".create" : ".update"), class: "btn btn-primary ml-sm-1", data: {disable_with: false}
  = link_to t(".cancel"), comfy_admin_blog_posts_path(@site, @blog), class: "btn btn-link"
