.page-header
  = link_to 'New Blog Post', new_comfy_admin_blog_post_path(@site, @blog), :class => 'btn btn-default pull-right'
  %h2 Blog Posts

= comfy_paginate @posts

= render :partial => 'comfy/admin/cms/categories/index', :object => 'Comfy::Blog::Post'

%table.table.table-hover
  %tr
    %th.main Title
    %th Author
    %th Published
    %th Comments
    %th

  - @posts.each do |post|
    %tr
      %td.main
        = link_to post.title, edit_comfy_admin_blog_post_path(@site, @blog, post)
        .item-meta
          = post.excerpt
      %td
        = post.author
      %td
        = post.published_at.try(:to_s, :db)
      %td
        = link_to pluralize(post.comments.count, 'Comment'), comfy_admin_blog_comments_path(@site, @blog, :post_id => post.id), :class => 'btn btn-sm btn-info'
      %td
        .btn-group.btn-group-sm
          = link_to 'Edit', edit_comfy_admin_blog_post_path(@site, @blog, post), :class => 'btn btn-default'
          = link_to 'Delete', comfy_admin_blog_post_path(@site, @blog, post), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-danger'

= comfy_paginate @posts
