.page-header
  = link_to 'New Blog', new_admin_blog_path(@site), :class => 'btn pull-right'
  %h2 Blogs
  
= paginate @blogs
  
%table.table.table-hover.table-bordered
  - @blogs.each do |blog|
    %tr
      %td.main
        = link_to blog.label, edit_admin_blog_path(@site, blog)
        .item-meta
          = blog.identifier
          %br
          - blog_path = blog_posts_url(@site.path, blog.path)
          = link_to blog_path, blog_path, :target => '_blank'
      %td
        .btn-group
          = link_to pluralize(blog.posts.count, 'Post'), admin_blog_posts_path(@site, blog), :class => 'btn btn-small btn-inverse'
          = link_to pluralize(blog.comments.count, 'Comment'), admin_blog_comments_path(@site, blog), :class => 'btn btn-small btn-inverse'
      %td
        .btn-group
          = link_to 'Edit', edit_admin_blog_path(@site, blog), :class => 'btn btn-small'
          = link_to 'Delete', admin_blog_path(@site, blog), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-small btn-danger'
          
= paginate @blogs
