<%= link_to 'Create New Blog Post', new_sofa_blog_admin_post_path, :class => 'big button' %>

<h1>Blog Posts</h1>

<table class='formatted'>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <div class='title'>
          <%= link_to post.title.titleize, '' %>
        </div>
        <div class='sublabel'>
          Published <%= time_ago_in_words(post.updated_at) %> ago
          by <strong><%= post.author %></strong>
          <%= '[DRAFT]' if !post.is_published? %>
        </div>  
      </td>
      <td class='action_links'>
        <%= link_to 'Comments', '' %>
        <%= link_to 'Edit', '' %>
        <%= link_to 'Delete', '', :method => :delete, :confirm => 'Are you sure?' %>
      </td>
    </tr>
  <% end %>
</table>