.page-header
  %h2= t('.page_title')

= comfy_paginate @comments

%table.table.table-hover
  %tr
    %th= t('.post')
    %th.main= t('.comment')
    %th= t('.posted')
    %th= t('.status')
    %th

  - @comments.each do |comment|
    = render :partial => 'comment', :object => comment

= comfy_paginate @comments
