<li>
  <div class='item'>
    <div class='icon'></div>
    <div class='action_links'>
      <%= link_to pluralize(blog_post.comments_count, 'comment'), cms_admin_blog_post_blog_comments_path(blog_post) %>
      <%= link_to 'Edit', edit_cms_admin_blog_post_path(blog_post) %>
      <%= link_to 'Delete', cms_admin_blog_post_path(blog_post), :method => 'delete', :confirm => 'Are you sure?' %>
    </div>
    <div class='label'>
      <%= link_to blog_post.title.titleize, edit_cms_admin_blog_post_path(blog_post)%>
      <div class='sublabel'>
        Published <%= time_ago_in_words(blog_post.updated_at) %> ago
        by <strong><%= blog_post.author %></strong>
        <% if !blog_post.published? %>[DRAFT]<% end %>
        <% blog_post.blog_tags.each do |tag| %>
          <span class="tag"><%= tag.name %></span>
        <% end %>
      </div>
    </div>
  </div>
</li>